.parent .child .title {
    color: red;
}
.parent .title {
    color: blue;
}
p , .title{
    color:green;
}
.assignment-1 {
    padding: 20px;
    background-color: #A52A2A;
    color: white;
    font-size: xx-large;
    margin: 10px 0;
    width: fit-content;
    max-width: 400px;
    max-height: 200px;
    overflow: hidden;
}